.HeaderSearch {
  width: 75%;
}
.HeaderSearch__inputarea {
  width: calc(100% - 30px);
}
.HeaderSearch__inputarea > input[type='text'] {
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  outline: 0px;
  border: 0px;
  border-radius: 3px;
  margin: 0px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
}
.HeaderSearch__inputarea > input[type='text']::placeholder {
  color: #fff;
  opacity: 0.5;
}


.HeaderSearch__inputarea > input[type='text']:focus {
  color: #000;
  background-color: #fff;
}